/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}



.faqbacki {
  background-image: url(systemische-psychotherapie-background.jpg);
    background-size: cover;
    padding: 2rem;
    background-position: center;
    width: 100%;
    border-radius: 15px;
    background-repeat: no-repeat;
}

.faq-container {
  width: 90%;
  margin: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: start;
}
.faq-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.faq-question {
  cursor: pointer;
  padding: 10px;
  position: relative;
  background-color: transparent;
}
.plus-icon {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-right: 10px;
  color: #77296f;
  font-weight: bold;
}
.faq-answer {
  display: none;
  padding: 15px;
  border-radius: 5px;
}
.faq-item.active .plus-icon {
  transform: rotate(45deg);
}
.faq-item.active .faq-answer {
  display: block;
}

.lagegraz {
  padding: 2rem;
  text-align: center;
}

.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:-1;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background: #77296fd8;
  border-radius:50%;
  opacity:1;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}

.casestudimenulink {
  color: var(--primary-color);
  
}




.casestudiesbigbox {
  margin: 0 auto;
  width: 800px;
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  padding: 2rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  border-top: 2px solid var(--medium-grey);
}


.casestudiesbackdesign {
  color: var(--dark-grey);
  background: url("casestudies-background-datatrafficcenter.jpg") no-repeat
      center center;
      background-size: cover;
      min-height: 55vh;
}

.casestudiesmallbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 35px;
  margin: 0 auto;
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  width: 1300px;
  line-height: 1.2rem;
  padding: 3rem;
  color: var(--medium-grey);
  border-top: 2px solid var(--medium-grey);
  padding-bottom: 10rem;
}



.casestudiesmallbox a{

  color: var(--primary-color);
  font-size: 1rem;
}


.backtoalljobs {
  text-decoration: underline;
  background-color: #2b70fbb9;
  color: white;
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.jobicons {
  display: flex;
  column-gap: 10px;
}

.centerBox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;
}


.backofitsecs {
  padding-bottom: 11rem;
  background-color: black;
  color: white;
}

.backofitsecs h4 {
  color: var(--primary-color);
}



.bottomcontactbanner {
  background: url("bottomcontactbanner-background-datatrafficcenter.jpg") no-repeat
      center center;
      background-size: cover;
      padding: 2rem;
      padding-top: 7rem;
      padding-bottom: 7rem;
      text-align: center;
      font-size: 1.2rem;

}

.bottomcontactbannertext {
      margin: 0 auto;
      width: 800px;
      color: white;
}


.bottomcontactbannertext a{
  background-color: white;
  color: var(--primary-color);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}


.bottomcontactbannertext a:hover {
  background-color: #2b70fbb9;
  color: white;
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.categoriesofcompany {
 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    width: 100vh;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    }
    
    .categorie1 { grid-area: 1 / 1 / 2 / 2; background: url("softwaredevelopment-background-datatrafficcenter-small.png") no-repeat
      center center;
      background-size: cover; }
    .categorie2 { grid-area: 1 / 2 / 2 / 3; background: url("devops-engineering-background-datatrafficcenter-small.png") no-repeat
      center center;
      background-size: cover;}
    .categorie3 { grid-area: 1 / 3 / 2 / 4; background: url("it-recruiting-background-datatrafficcenter-small.png") no-repeat
      center center;
      background-size: cover;}
    .categorie4 { grid-area: 1 / 4 / 2 / 5; background: url("itsupport-background-datatrafficcenter-small.png") no-repeat
      center center;
      background-size: cover;}
    


.categoryWrapper {
	height: 210px;
	width: 340px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
  

}


.categoryWrapper:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	background: -moz-linear-gradient(
		-45deg,
		#a29ca9 0%,
		#95909b 99%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		-45deg,
		#a29ca9 0%,
		#95909b 99%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		135deg,
		#a29ca9 0%,
		#95909b 99%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a29ca9', endColorstr='#95909b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	content: "";
	opacity: 0;
	-webkit-transition: opacity 0.9s ease 0s;
}

.categoryWrapper:hover:after {
	opacity: 0.4;
}


.directphonecall {
  color: black;
}

.directphonecall a:hover {
  color: var(--primary-color);
}

.categoryWrapper h1 {
	color: white;
	letter-spacing: 2px;
	-webkit-transition: all 0.15s ease 0s;
	position: relative;
	z-index: 10;
  font-size: 1.6rem;
}

.categoryWrapper:hover h1 {
	transform: translateY(-10px);
}

.categoryWrapper button {
	position: absolute;
	transform: translatey(60px);
	-webkit-appearance: none;
	border: none;
	background: none;
	color: white;
	width: 250px;
	height: 50px;
	font-size: 20px;
	padding: 0;
	margin: 0;
	outline: none;
	z-index: 10;
}

.categoryWrapper button span {
	display: block;
	position: relative;
	line-height: 50px;
	height: 50px;
	cursor: pointer;
}

.categoryWrapper button > span:after {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 20px;
	height: 0;

	border: 2px solid white;
	border-left: none;
	border-bottom: none;

	transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:after {
	width: calc(50% - 1px);
	height: calc(100% - 2px);
	transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span:before {
	content: "";
	position: absolute;
	top: 0;
	right: 50%;
	width: 20px;
	height: 0;

	border: 2px solid white;
	border-right: none;
	border-bottom: none;

	transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:before {
	width: calc(50% - 1px);
	height: calc(100% - 2px);
	transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span > span:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0%;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.categoryWrapper:hover button > span > span:before {
	opacity: 1;
	border-bottom: 1px solid white;
	width: calc(50%);
	height: 1px;
	transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0%;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.categoryWrapper:hover button > span > span:after {
	opacity: 1;
	border-bottom: 1px solid white;
	width: calc(50%);
	height: 1px;
	transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span > span {
	transition: color 0.15s ease-out 0.3s;
	color: transparent;
}

.categoryWrapper:hover button > span > span > span {
	color: white;
}

.categoryWrapper button > span > span > span:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #1f2e4d;
	content: attr(data-attr-span);
	width: 0%;
	height: 100%;
	background: white;
	white-space: nowrap;
	text-align: center;
	margin: auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
	transition: width 0.2s;
}


.landingheader {
  position: absolute;
  z-index: 1;
  max-height: 100%;
  top: 5px;
}

.landingfoot {
  position: absolute;
  z-index: 1;
  bottom: 5px;
}

.video-bg {
  width: 100vw;
  object-fit: cover;
  height: 80vh;
}

.categoryWrapper button:hover > span > span > span:after {
	width: 100%;
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  
}




.landingfoot {
  color: white;
}
.jobannounceinhalt {
  margin: 0 auto;
  width: 800px;
  padding: 2rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 2rem;
}
.moreforjobs {
  background-color: #2b72fb;
  color: white;
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  max-width: fit-content;
}

.jobicons p {
  border: 1px solid var(--dark-grey);
  border-radius: 8px;
  padding: 0.3rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: coral;
}

.jobicons a {
  position: relative;
  bottom: 0.1rem;
  right: 0.1rem;
}

.jobannouncebox {
  margin: 0 auto;
  width: 800px;
  padding: 2em;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.jobsbacksdesign {
  background-image: url("systemische-psychotherapie-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-grey);
  font-weight: 600;
  
  }

.jobsbacksdesign p {
  font-size: 1.2rem;
  color: white;
}

.impress {
  margin: 0 auto;
  width: 800px;
  padding: 2rem;
  line-height: 1.3rem;
  text-align: center;
}

.datenschutz {
  line-height: 2rem;
  margin: 0 auto;
  width: 800px;
  padding: 2rem;
  line-height: 1.3rem;
  text-align: center;
}

h3 {
  color: var(--primary-color);
}
:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: #eeeeee;
  --ash: #f4f4f4;
  --primary-color: #77296f;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
  font-family: inherit;
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
}

.innerdesignstelle {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 2rem;
}

.stellenauschreibung {
  margin: 0 auto;
  width: 1200px;
  line-height: 2rem;
  padding: 2rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.stellenauschreibung h3 {
  color: var(--dark-grey);
}

.stellenauschreibung h4 {
  color: var(--primary-color);
}

.stellenauschreibung a {
  color: var(--primary-color);
  text-decoration: underline;
}


.stellenauschreibung ul {
  padding: 2rem;
  list-style: disclosure-closed;
}


.jobanzeigebackdesign {
  background-image: url("jobanzeige-background-datatrafficcenter.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 59vh;
  color: coral;
}



.devopsbackgrounddesign {
  background-image: url("devops-engineering-background-datatrafficcenter.png");
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
}

.softwarebackdesign {
  background-image: url("softwaredevelopment-background-datatrafficcenter.png");
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
}

.staffingbackdesign {
  background-image: url("it-recruiting-background-datatrafficcenter.png");
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
}

.supportbackdesign {
  background-image: url("itsupport-background-datatrafficcenter.png");
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
}

.invitetotakeaction {
  padding: 2rem;
  text-align: justify;
  margin: 0 auto;
  width: 700px;
  font-size: 1.1rem;
  padding-bottom: 7rem;
}

.invitetotakeaction a {
  color: var(--primary-color);
}

.backgroundphilo {
  background-image: url("philosphie-background-datatrafficcenter.png");
  background-size: cover;
  background-position: center;
}

.backgroundunternehmen {

  animation: colorchange 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}


.servicesbacks {
  background-image: url("ablauf-und-kosten.jpg");
  background-size: cover;
  background-position: center;
  font-weight: bold;
  color: white;
  background-color: black;
}


main {
  min-height: 90vh;
  display: grid;
  font-size: 1.2rem;
    line-height: 1;
}

main a {
  color: var(--primary-color);
}

.haupttitlos {
  line-height: 3rem;
}


 

.teammembers {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.7fr 1.3fr 1.3fr 1fr; 
  grid-template-areas: 
    "teamprofile1 ."
    "teamprofile1 teamprofile2"
    "teamprofile3 teamprofile2"
    "teamprofile3 teamprofil4"
    ". teamprofile4"; 
        grid-column-gap: 35px;
        grid-row-gap: 35px;
        padding: 2rem;
        padding-top: 6rem;
        margin: 0 auto;
        
    justify-content: center;
  }

 
        
  .teamprofile1 { grid-area: teamprofile1; }
  .teamprofile2 { grid-area: teamprofile2; }
  .teamprofile3 { grid-area: teamprofile3; }
  .teamprofile4 { grid-area: teamprofile4; }
        
    

.teammembers img {
  text-align: center;
  justify-content: center;
  border-radius: 25px;
  width: 360px;
  height: 480px;
}


.whoweare {
  padding-top: 9rem;
  padding-bottom: 9rem;
  font-size: 1.2rem;
  line-height: 2rem;
  line-height: 2rem;
  color: white;
  font-weight: bold;
  
}

@keyframes colorchange {
  0% {
    background: #00ccff;
  }
  14% {
    background: #00a2ff;
  }
  28% {
    background: #0066ff;
  }
  42% {
    background: #0067f0;
  }
  56% {
    background: #0400ff;
  }
  70% {
    background: #1c0082;
  }
  84% {
    background: #d882ee;
  }
  100% {
    background: #8c00ff;
  }
}

.whoweare div {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
.whoweare h3 {
  color: white;
  font-size: 1.5rem;
}

.philobox {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  line-height: 2rem;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}




.philo1 { grid-area: 1 / 1 / 2 / 2; padding-left: 1.5rem;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #40E0D0;}
.philo2 { grid-area: 2 / 1 / 3 / 2; padding-left: 1.5rem;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: #FF00FF;}
.philo3 { grid-area: 3 / 1 / 4 / 2; padding-left: 1.5rem;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: var(--primary-color);}
  

.whytakeus {
  padding-top: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 10rem;
  line-height: 2rem;
  margin: 0 auto;
  width: 800px;
  text-align: center;
  font-size: 1.2rem;
  
}

.whytakeus a:hover   {
  color: var(--primary-color);

}

.whytakeus h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.whyitems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  line-height: 2rem;
  margin: 0 auto;
  width: 1100px;
  padding-bottom: 10rem;
}

.whyitems p {
  font-size: 1.1rem;
}
.whyitems div {
  padding: 2rem;
  background: rgba( 43, 114, 251, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3px );
-webkit-backdrop-filter: blur( 3px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
  
  .whyinneritem1 { grid-area: 1 / 1 / 2 / 2; }
  .whyinneritem2 { grid-area: 1 / 2 / 2 / 3; }
  .whyinneritem3 { grid-area: 1 / 3 / 2 / 4; }
  .whyinneritem4 { grid-area: 2 / 1 / 3 / 2; }
  .whyinneritem5 { grid-area: 2 / 2 / 3 / 3; }
  .whyinneritem6 { grid-area: 2 / 3 / 3 / 4; }
  

  

.companytrios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 2rem;
  grid-gap: 1.3rem;
  margin: 0 auto;
  width: 1050px;
  padding-top: 10rem;
  padding-bottom: 5rem;
  }

  .companytrios p, a {
    font-size: 1.1rem;
  }
.trio1 { grid-area: 1 / 1 / 2 / 2; }
.trio2 { grid-area: 1 / 2 / 2 / 3; }
.trio3 { grid-area: 1 / 3 / 2 / 4; } 
    
    

  .companytrios a {
    color: var(--primary-color);
  }

  .companytrios h3 {
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }
  
.trio1 {
  display: flex;
  column-gap: .75rem;
  padding: 1rem;
}

.trio2 {
  display: flex;
  column-gap: .75rem;
  padding: 1rem;
}

.trio3 {
  display: flex;
  column-gap: .75rem;
  padding: 1rem;
}





form {
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto;
  width: 400px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: var(--border);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1e5ac4;
}

ul {
  list-style: none;
}

.menulinkonoff {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.contactdetails {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  
}



.contactdetails div{
  padding: 2rem;
}

.contactdetails h3 {
  padding-left: 1.5rem;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-color: var(--primary-color);
}

.contactdetails p {
  padding-left: 1.5rem;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-color: var(--medium-grey);
}

.contactdetails a:hover {
  color: var(--primary-color);
}
.btn {
  display: block;
  background-color: white;
  color: var(--primary-color);
  text-align: center;
  padding: 0.57rem 0.9rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.btn:hover {
  display: block;
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 0.57rem 0.9rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  border:1px solid var(--primary-color);
}

.sbn {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.sbn:hover {
  background-color: #77296f8d;
  color: white;
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.contactside {
  position: relative;
  line-height: 1.7;
  padding: 2em;
  text-align: center;
  width: 1050px;
  margin: 0 auto;
  font-size: 1.2rem;
    line-height: 1;
}
.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.logo {
  margin-right: 1.5rem;
  font-weight: bolder;
  color: var(--primary-color);
}

#nav-menu {
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  height: 90px;
  padding: 1.2rem 3rem;
}

.menu {
  position: relative;
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: var(--primary-color);
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
  cursor: pointer;
}



.custom-arrow {
  border: solid var(--primary-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  transition: transform 0.3s ease;
  transform: rotate(45deg);
}

.custom-dropdown-btn.active .custom-arrow {
  transform: rotate(-135deg);
}

.custom-dropdown-content {
  display: none;
  /* Hier können Sie Ihre eigenen Styles für das Dropdown-Menü hinzufügen */
}

.custom-dropdown-content.active {
  display: block;
}


.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.bx-menu::before {
  content: "\eb5f";
}

.bx {
  font-family: boxicons !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--border);
}

.search .bx-search {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}


.unterzeile {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 22px;
  margin: 0 auto;
  max-width: 700px;
  align-items: center;
  }

.unterzeile a {
  font-size: .875rem;
}

footer {
  background-color: var(--primary-color);
}

footer a {
  color: white;
}

footer a:hover {
  font-weight: bold;
}



.logofooter {
  text-align: center;
}


.bg-image {
  /* The image used */
  background-image: url("8161.jpg");

  /* Add the blur effect */
  filter: blur(153px);
  -webkit-filter: blur(153px);
  width: 100%;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  text-align: center;
  align-self: center;
  position: relative;
  padding: 2rem;
    padding-top: 2rem;
  line-height: 1.7rem;
  margin: 0 auto;
    margin-top: 0px;
  width: 800px;
  align-content: center;
  padding-top: 2rem;
  margin-top: 2rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}




.bs-text {
  align-self: center;
  position: relative;
  padding: 2rem;
  line-height: 1.7;
  width: 1050px;
	
  margin: 0 auto;
  text-align: center;
}

.bcont-text {
  align-self: center;
  position: relative;
  padding: 2rem;
  line-height: 1.7;
  width: 1050px;
  margin: 0 auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.socialinvite {
  padding: 0.5rem;
  border-radius: 25px;
  border: 1px solid #636363;
  max-width: fit-content;
  margin: 0 auto;
  font-size: 0.95rem;
    text-align: center;
}

.socialinvite a {
  font-size: 1rem;
}


.partnerlogos {
  
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
    width: 800px;
    
    
    
}

.ourteam {
  padding: 2rem;
  padding-top: 7rem;
  margin: 0 auto;
  width: 800px;
  line-height: 1.5rem;
  
}

.ourteam p {
  font-size: 1.2rem;
}

.profilephrase p{
  font-size: 1.1rem;
}


@media (max-width: 1500px) {
  .casestudiesbigbox {
    width: 900px;
  }

  .stellenauschreibung {
    width: 900px;
  }
  .categoriesofcompany {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    gap: 15px;
    margin: 0 auto;
    width: 600px;
  }

  .categoryWrapper {
    height: 180px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  
  }
   .categoryWrapper h1 {
    font-size: 1.2rem;
  }

  .categoryWrapper span {
    font-size: 1.1rem;
  }

  .categorie1 { grid-area: 1 / 1 / 2 / 2; }
  .categorie2 { grid-area: 1 / 2 / 2 / 3; }
  .categorie3 { grid-area: 2 / 1 / 3 / 2; }
  .categorie4 { grid-area: 2 / 2 / 3 / 3; }

  .casestudiesmallbox {
  width: 1100px;
  }
  .directphonecall {
    display: none;
  }
}

@media (max-width: 1100px) {
  #hamburger {
    display: block;
  }
  .directphonecall {
    display: block;
  }
 
  .custom-arrow {
    position: absolute;
    right: 2rem;
  }

  .casestudiesbigbox {
    width: 600px;
  }
  .casestudiesmallbox {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.castestudiebox1 { grid-area: 1 / 1 / 2 / 2; }
.castestudiebox2 { grid-area: 2 / 1 / 3 / 2; }
.castestudiebox3 { grid-area: 3 / 1 / 4 / 2; }
.castestudiebox4 { grid-area: 4 / 1 / 5 / 2; }
.castestudiebox5 { grid-area: 5 / 1 / 6 / 2; } 
    

  .bottomcontactbannertext {
    width: 600px;
  }

  .stellenauschreibung {
    width: 611px;
  }


  .invitetotakeaction {
    width: 500px;
  }
  .philobox {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 600px;
  }

  .philo1 { grid-area: 1 / 1 / 2 / 2; }
  .philo2 { grid-area: 1 / 2 / 2 / 3; }
  .philo3 { grid-area: 2 / 1 / 3 / 2; }

  .jobannouncebox {
    width: 600px;
  }


  .jobannounceinhalt {
    width: 600px;
  }

  .impress {
    margin: 0 auto;
    width: 600px;
    text-align: center;
  }

  .datenschutz {
    width: 600px;
  }
  main {
    
    font-size: 1.1rem;
  }


  .teammembers {
    font-size: 1.1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
    
    .teamprofile1 { grid-area: 1 / 1 / 2 / 2; }
    .teamprofile2 { grid-area: 2 / 1 / 3 / 2; }
    
    .teammembers img {
      width: 300px;
      height: 380px;
    }
  .bg-text {
    text-align: center;
    position: relative;
    padding: 2rem;
    line-height: 1.7rem;
    margin: 0 auto;
    width: 600px;
  }
  .bcont-text {
    text-align: center;
    position: relative;
    padding: 2rem;
    line-height: 1.7rem;
    margin: 0 auto;
    width: 600px;
  }

  .bs-text {
    position: relative;
    padding: 2rem;
    line-height: 1.7;
    width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  .contactdetails {
    padding: 0.3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  .conc1 { grid-area: 1 / 1 / 2 / 2; }
  .conc2 { grid-area: 2 / 1 / 3 / 2; }
  .conc3 { grid-area: 1 / 2 / 2 / 3; }
  .conc4 { grid-area: 2 / 2 / 3 / 3; }


  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 87px;
    z-index: 1;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show,
  .dropdown.active {
    display: block;
    background-color: white;
  }

  .dropdown ul {
    padding-left: 0.3rem;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }

  .contactside {
    width: 100%;
    text-align: start;
    text-align: center;
    width: none;
    margin: none;
    font-size: 1.1rem;
    line-height: 1;
  }
  .partnerlogos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    text-align: center;
    margin: none;
    width: 600px;
  }


  .whoweare div {
    text-align: center;
  width: 600px;
  margin: 0 auto;
  }


  .companytrios {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin: 0 auto;
    width: 600px;
      }
      .companytrios p, a {
        font-size: 1.1rem;
      }
      .trio1 { grid-area: 1 / 1 / 2 / 2; }
      .trio2 { grid-area: 2 / 1 / 3 / 2; }
      .trio3 { grid-area: 3 / 1 / 4 / 2; }
      

      .whytakeus {
        width: 600px;
        font-size: 1.1rem;
        
      }
      .whyitems {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
          grid-column-gap: 25px;
          grid-row-gap: 25px;
          width: 650px;
          

      }
      .whyitems p {
        font-size: 1.1rem;
      }
          
          .whyinneritem1 { grid-area: 1 / 1 / 2 / 2; }
          .whyinneritem2 { grid-area: 1 / 2 / 2 / 3; }
          .whyinneritem3 { grid-area: 2 / 1 / 3 / 2; }
          .whyinneritem4 { grid-area: 2 / 2 / 3 / 3; }
          .whyinneritem5 { grid-area: 3 / 1 / 4 / 2; }
          .whyinneritem6 { grid-area: 3 / 2 / 4 / 3; }
          
          .ourteam {
            width: 600px;
          }

          .ourteam p {
            font-size: 1.1rem;
          }
      
}

@media (max-width: 600px) {
  .right-container {
    display: none;
  }

  footer {
    font-weight: bold;
  }
  .casestudiesmallbox {
    width: 100%;
    }

    .casestudiesbigbox {
      width: 100%;
    }
  .bottomcontactbannertext {
    width: 100%;
  }

  .stellenauschreibung {
    width: 100%;
  }

  .categoryWrapper h1 {
    font-size: 1rem;
  }

  .categoriesofcompany {
    grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
    align-items: center;
  }

  .categoryWrapper {
    width: 100vw;
  }

  .categorie1 {grid-area: 1 / 1 / 2 / 2;}
  .categorie2 { grid-area: 2 / 1 / 3 / 2; }
  .categorie3 { grid-area: 3 / 1 / 4 / 2; }
  .categorie4 { grid-area: 4 / 1 / 5 / 2; }



  .categoryWrapper span {
    font-size: 1rem;
  }


  .invitetotakeaction {
    width: 100%;
  }

  .philobox {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
  }

  
.philo1 { grid-area: 1 / 1 / 2 / 2; }
.philo2 { grid-area: 2 / 1 / 3 / 2; }
.philo3 { grid-area: 3 / 1 / 4 / 2; }

  .jobannouncebox {
    width: 100%;
  }
 
  .jobicons p {
    text-align: center;
  }

  .jobannounceinhalt {
    width: 100%;
    row-gap: 20px;
    padding: 1rem;
    min-height: 150px;
  }

  .impress {
    margin: 0 auto;
    width: 100%;
    text-align: justify;
  }

  .datenschutz {
    width: 100%;
    text-align: justify;
  }

  .teammembers {
    font-size: 1.1rem;
    width: 100%;
  }


  .partnerlogos {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin: 0 auto;
      width: 330px;
  }

   .partnerlogos img {
    width: 140px;
  }

  main {
    
    font-size: 1rem;
  }
  .bs-text {
    position: relative;
    padding: 2rem;
    line-height: 1.7;
    width: 100vw;
    margin: none;
    text-align: start;
  }

  .contactside {
    width: 100%;
    text-align: start;
    font-size: 1rem;
    width: none;
    margin: none;
  }

  form {
   
    width: 300px;
  }

  .contactdetails {
    padding: 0.3rem;
    display: block;
  }

 .contactdetails div{
    padding: 2rem;
  }

  .contactdetails h3 {
    padding-left: 1.5rem;
    border-left-width: 1.5px;
    border-left-style: solid;
    border-color: var(--primary-color);
  }

  .contactdetails p {
    padding-left: 1.5rem;
    border-left-width: 1.5px;
    border-left-style: solid;
    border-color: var(--medium-grey);
  }

  .socialinvite {
    padding: 0.5rem;
    border-radius: 25px;
    border: 1px solid #636363;
    max-width: none;
    margin: none;
  }
  
  h1 {
    font-size: 2.25rem;
  }
  p {
    font-size: 1.125rem;
  }

  .menulinkonoff {
    display: block;
  }

  .bg-text {
    text-align: justify;
    position: relative;
    padding: 2rem;
    width: 100%;
    
    line-height: 1.75;
  }

  .bcont-text{
    position: relative;
    padding: 2rem;
    width: 100%;
    
    line-height: 1.75;
  }
  footer {
    text-align: justify;
  }

  .logofooter {
    text-align: left;
  }

  .unterzeile {
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
  grid-row-gap: 25px; 
    }
  
  .unterzeile a {
    font-size: .875rem;
  }
  
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 1 / 2 / 2 / 3; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }


    
.whoweare {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  line-height: 2rem;
  background-color: var(--primary-color);
  color: white;
}

.whoweare div {
  text-align: start;
  width: auto;
  margin: none;
}

.whoweare h3 {
  color: white;
  font-size: 1rem;
}

.whytakeus {
  width: 100%;
  font-size: 1rem;
  
}
.whytakeus h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
}


.whyitems {
grid-template-columns: 1fr;
grid-template-rows: repeat(6, 1fr);
width: 100%;
}

.whyitems p {
  font-size: 1rem;
}

.whyinneritem1 { grid-area: 1 / 1 / 2 / 2; }
.whyinneritem2 { grid-area: 2 / 1 / 3 / 2; }
.whyinneritem3 { grid-area: 3 / 1 / 4 / 2; }
.whyinneritem4 { grid-area: 4 / 1 / 5 / 2; }
.whyinneritem5 { grid-area: 5 / 1 / 6 / 2; }
.whyinneritem6 { grid-area: 6 / 1 / 7 / 2; } 

.companytrios {
  display: grid;
  padding: 2rem;
  grid-gap: 1.3rem;
  margin: 0 auto;
  width: 100%;
  }

  .companytrios p,a {
    font-size: 1rem;
  }

  .companytrios a {
    color: var(--primary-color);
  }

  .companytrios h3 {
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }


  
.trio1 {
  display: flex;
  column-gap: .75rem;
  padding: 1rem;
}

.trio2 {
  display: flex;
  column-gap: .75rem;
  padding: 1rem;
}

.trio3 {
  display: flex;
  column-gap: .75rem;
  padding: 1rem;
}
  
.ourteam {
 
  width: 100%;
}
.ourteam p {
  font-size: 1rem;
}


}
